<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhml"
  	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="/layoutLogin/fragments/headerinc :: headerinc"></head>

<body>


	<section layout:fragment="conteudo" class="section"> </section>
	
	<footer th:replace="/layoutLogin/fragments/footer :: footer"></footer>

	<script type="text/javascript" src="assets/js/jquery-min.js"></script>
	<script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="assets/js/form-validator.min.js"></script>
	
	

</body>
</html>
