<html xmlns="http://www.w3.org/1999/xhml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<footer th:fragment="footer" class="footer">
    	<div id="copyright">
    		<div class="container">
    			<div class="row">
    				<div class="col-md-12">
              <div class="site-info pull-left">
                <p>Todos direitos reservados 2018 <a rel="nofollow" href="http://graygrids.com">E H Technology</a></p>
              </div>   
    				</div>
    			</div>
    		</div>
    	</div>
  </footer>

</html>