<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layoutLogin/template-login">

<body>
	<section id="login" layout:fragment="conteudo">

		<div class="login-form">
		
			<div class="alert alert-success alert-dismissable"
				th:if="${!#strings.isEmpty(mensagem)}">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;
				</a> <span th:text="${mensagem}"> </span>
			</div>

			<div class="alert alert-success alert-dismissable form-group"
				role="alert" th:if="${not #strings.isEmpty(msgEmailEnviado)}">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;
				</a> <span th:text="${msgEmailEnviado}"> </span>
			</div>
			
			<form th:action="@{/login}" method="POST">
				<div class="avatar">
					<img src="/assets/img/avatar.svg" alt="Avatar" />
				</div>

				<h2 class="text-center">Login</h2>
				<!-- 				<div class="social-btn text-center">
					<a href="#" class="btn btn-primary btn-block btn-lg"><i
						class="fa fa-facebook"></i> Entre com o <b>Facebook</b></a>
				</div>
				<div class="or-seperator">
					<i>ou</i>
				</div> -->
				<div class="text-danger" align="center" style="margin-bottom: 10px;"
					th:if="${#bools.isTrue(param.error)}">Usuário e/ou senha
					incorretos</div>
				<div class="form-group">
					<input type="text" class="form-control" name="username"
						placeholder="Username" required="required" />
				</div>
				<div class="form-group">
					<input type="password" class="form-control" name="password"
						placeholder="Password" required="required" />
				</div>
				<div class="form-group">
					<button type="submit"
						class="btn btn-primary btn-lg btn-block login-btn">Entrar</button>
				</div>
				<p class="text-center small">
					<a th:href="@{/resetar}">Esqueceu a senha?</a>
				</p>
			</form>
			<p class="text-center small">
				Não tem uma conta? <a th:href="@{/registrar}">Registre-se!</a>
			</p>
		</div>
	</section>
</body>
</html>
