<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.springframework.org/security/tags"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

				<div th:fragment="menu-admin"  class="collapse navbar-collapse" id="navbar"
				sec:authorize="isAuthenticated()" th:unless="${session.hs_usuario == null or session.hs_usuario.resetada == true}">
				
								<ul class="nav navbar-nav">
									<li th:unless="${session.ses_role == 'Trabalhar'}" class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown"
											role="button" aria-haspopup="true" aria-expanded="false">
											<i class="fa fa-user"></i> Menu <span class="caret"></span>
										</a> 
										<ul class="dropdown-menu">
											<li ><a th:href="@{/usuario/cadastro}"> Cadastro de Usuário</a></li>
											<li><a th:href="@{/usuario/listar}"> Lista de Usuários</a></li>
										</ul>
									</li>
									<li th:if="${session.ses_role == 'Anunciar'}" class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown"
											role="button" aria-haspopup="true" aria-expanded="false">
											<i class="fa fa-user"></i> Menu <span class="caret"></span>
										</a> 
										<ul class="dropdown-menu">
											<li ><a th:href="@{/usuario/cadastro}"> Cadastro de Usuário</a></li>
											<li><a th:href="@{/usuario/listar}"> Lista de Usuários</a></li>
										</ul>
									</li>
								</ul>
								
								<ul class="nav navbar-nav navbar-right devir-menu-navbar">
									<li><a th:href="@{/sair}" ><span th:text="${session.hs_usuario.nome}+' - '+${session.ses_role}"></span> <i class="fa  fa-sign-out">
												</i></a></li>
							
								</ul>

</div>
<!-- 	<ul class="nav navbar-nav navbar-right devir-menu-navbar"> -->
<!-- 		<li><a th:href="@{/sair}" ><span th:text="${session.hs_usuario.nomeCompleto}+' - '+${session.ses_role}"></span> <i class="fa  fa-sign-out"> -->
<!-- 					</i></a></li> -->

<!-- 	</ul> -->
	





</html>