<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/template-padrao">

<body>

	<section id="index" layout:fragment="conteudo">

		<section id="intro" class="section-intro">
			<div class="search-container">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h1>Encontre um freelancer com facilidade</h1>
							<br></br>
							<h2>Escolha um profissional que se adeque mais a seu
								trabalho</h2>
							<div class="content">
								<form method="" action="">
									<div class="row">
										<div class="col-md-4 col-sm-6">
											<div class="form-group">
												<input class="form-control" type="text"
													placeholder="Titulo do emprego a procurar" /> <i
													class="ti-time"></i>
											</div>
										</div>

										<div class="col-md-3 col-sm-6">
											<div class="search-category-container">
												<label class="styled-select"> <select
													class="dropdown-product selectpicker">
														<option>Todas categorias</option>
														<option>Tecnologia</option>
														<option>Engenharia/Construção</option>
														<option>Saúde</option>
														<option>Serviços gerais</option>
														<option>Vendas</option>

												</select>
												</label>
											</div>
										</div>
										<div class="col-md-1 col-sm-6">
											<button type="button" class="btn btn-search-icon">
												<i class="ti-search"></i>
											</button>
										</div>
									</div>
								</form>
							</div>

						</div>
					</div>
				</div>
			</div>
		</section>

	<!-- Find Job Section Start -->
	<!--  <section class="find-job section">
      <div class="container">
        <h2 class="section-title">Últimos adicionados</h2>
		<div class="row">
			  <div class="col-md-12">
			   


				<div class="tabs-container-jobs">
					
					
					<div class="tab-holder tab-content">
						<div class="tab tab-pane fade active in" id="tab1">
                                                     <div class="table-responsive">
							<table class="table table-striped">
								<thead>
								<tr>
									<th>Job Title</th>
									<th>By</th>
									<th>Option</th>
									<th>Location</th>
									<th>Budget</th>
									<th></th>
								</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											<img src="http://kl-webmedia.com/demo/cravious/img/jobs/1.png" alt=""/>
											<span>Professional Front-End Developer</span>
										</td>
										<td>
											Moen
										</td>
										<td>
											<span class="pill medium green">Full Time</span>
										</td>
										<td>
											New York City
										</td>
										<td>
											24$/h
										</td>
										<td class="text-center">
											<a href="#" class="btn btn-sm btn-primary btn-apply">Aplicar</a>
										</td>
									</tr>
									<tr>
										<td>
											<img src="http://kl-webmedia.com/demo/cravious/img/jobs/2.png" alt=""/>
											<span>Web Designer Leader</span>
										</td>
										<td>
											Sapient
										</td>
										<td>
											<span class="pill medium red">Part Time</span>
										</td>
										<td>
											Ohio
										</td>
										<td>
											30$/h
										</td>
										<td class="text-center">
											<a href="#" class="btn btn-sm btn-primary btn-apply">Aplicar</a>
										</td>
									</tr>
									<tr>
										<td>
											<img src="http://kl-webmedia.com/demo/cravious/img/jobs/3.png" alt=""/>
											<span>Personal Trainer</span>
										</td>
										<td>
											DSM
										</td>
										<td>
											<span class="pill medium green">Full Time</span>
										</td>
										<td>
											Washington DC
										</td>
										<td>
											16$/h
										</td>
										<td class="text-center">
											<a href="#" class="btn btn-sm btn-primary btn-apply">Aplicar</a>
										</td>
									</tr>
									<tr>
										<td>
											<img src="http://kl-webmedia.com/demo/cravious/img/jobs/4.png" alt=""/>
											<span>Front-End/Back-end Developer</span>
										</td>
										<td>
											Mindshare
										</td>
										<td>
											<span class="pill medium gray">Weekend</span>
										</td>
										<td>
											New York City
										</td>
										<td>
											20$/h
										</td>
										<td class="text-center">
											<a href="#" class="btn btn-sm btn-primary btn-apply">Aplicar</a>
										</td>
									</tr>
									<tr>
										<td>
											<img src="http://kl-webmedia.com/demo/cravious/img/jobs/1.png" alt=""/>
											<span>Professional Front-End Developer</span>
										</td>
										<td>
											Moen
										</td>
										<td>
											<span class="pill medium green">Full Time</span>
										</td>
										<td>
											New York City
										</td>
										<td>
											24$/h
										</td>
										<td class="text-center">
											<a href="#" class="btn btn-sm btn-primary btn-apply">Aplicar</a>
										</td>
									</tr>
									<tr>
										<td>
											<img src="http://kl-webmedia.com/demo/cravious/img/jobs/5.png" alt=""/>
											<span>Frontend/Backendd Developer</span>
										</td>
										<td>
											Disneyland
										</td>
										<td>
											<span class="pill medium green">Full Time</span>
										</td>
										<td>
											Paris
										</td>
										<td>
											44$/h
										</td>
										<td class="text-center">
											<a href="#" class="btn btn-sm btn-primary btn-apply">Aplicar</a>
										</td>
									</tr>
									<tr>
										<td>
											<img src="http://kl-webmedia.com/demo/cravious/img/jobs/6.png" alt=""/>
											<span>Web and graphic designer</span>
										</td>
										<td>
											Jacksgap
										</td>
										<td>
											<span class="pill medium red">Part time</span>
										</td>
										<td>
											Berlin
										</td>
										<td>
											38$/h
										</td>
										<td class="text-center">
											<a href="#" class="btn btn-sm btn-primary btn-apply">Aplicar</a>
										</td>
									</tr>
									
								</tbody>
							</table>
                                                     </div>
						</div>
						
						
					</div>
				
				</div>




			   </div>
		</div>
      </div>
    </section> -->
	<!-- Find Job Section End -->





	<!-- Start Purchase Section -->
	<section class="section purchase" data-stellar-background-ratio="0.5">
		<div class="container">
			<div class="row">
				<div class="section-content text-center">
					<h2 class="title-text" style="color:#171a2f"> Como funciona?</h2>
					<h4 style="color: #171a2f; padding-bottom: 55px;">Anuncie uma
						posição de trabalho ou contrate freelancers</h4>
					<div class="col-xs-4">

						<span class="glyphicon glyphicon-user"
							style="font-size: 45px; color: #171a2f;"></span>
						<h2 style="color: #171a2f; margin-top: 15px; font-size: 20px;">Contrate</h2>
						<h5 class="text-centralized"
							style="color: #171a2f; font-size: 14px; font-family: 'Open Sans', sans-serif">
							Veja o portfólio do cliente e contrate-o para sua vaga.</h5>
					</div>
					<div class="col-xs-4">

						<span class="glyphicon glyphicon-file"
							style="font-size: 45px; color: #171a2f;"></span>
						<h2 style="color: #171a2f; margin-top: 15px; font-size: 20px;">Publique
							uma vaga</h2>
						<h5 class="text-centralized"
							style="color: #171a2f; font-size: 14px; font-family: 'Open Sans', sans-serif">
							Publique sua vaga para ficar disponível para milhares de
							freelancers.</h5>
					</div>
					<div class="col-xs-4">

						<span class="glyphicon glyphicon-ok"
							style="font-size: 45px; color: #171a2f;"></span>
						<h2 style="color: #171a2f; margin-top: 15px; font-size: 20px;">Entre
							em contato com o freelancer</h2>
						<h5 class="text-centralized"
							style="color: #171a2f; font-size: 14px; font-family: 'Open Sans', sans-serif">
							Entre em contato com o contratante ou contratado para fechar
							negócio.</h5>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Purchase Section -->




	<!--     Clients Section
    <section class="clients section">
      <div class="container">
        <h2 class="section-title">
          Diversas categorias
        </h2>
        <div class="row"> 
          <div id="clients-scroller">
            <div class="items">
              <img src="assets/img/clients/img1.png" alt=""/>
            </div>
            <div class="items">
              <img src="assets/img/clients/img2.png" alt=""/>
            </div>
            <div class="items">
              <img src="assets/img/clients/img3.png" alt=""/>
            </div>
            <div class="items">
              <img src="assets/img/clients/img4.png" alt=""/>
            </div>
            <div class="items">
              <img src="assets/img/clients/img5.png" alt=""/>
            </div>
            <div class="items">
              <img src="assets/img/clients/img6.png" alt=""/>
            </div>
            <div class="items">
              <img src="assets/img/clients/img6.png" alt=""/>
            </div>
            <div class="items">
              <img src="assets/img/clients/img6.png" alt=""/>
            </div>
          </div>
        </div>
      </div>
    </section>
    Client Section End -->

</section>
</body>
</html>
